@import "reset.css";

body {
  background-color: #f4f4f4;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}

.canvas {
  width: 700px;
  height: 700px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11);
}

.controls_left {
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controls_left .constrols_colors {
  display: flex;
  flex-direction: column;
}

.controls_left .controls_color {
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.2);
}

.controls_left .controls_color:hover {
  box-shadow: 1px 4px 6px rgb(50 50 93 / 50%);
}

.controls_left .controls_brushRange {
  margin: 30px;
}

.controls_left .controls_btns button {
  all: unset;
  cursor: pointer;
  background-color: #004291;
  color: #fff;
  font-weight: 500;
  padding: 5px 0;
  width: 80px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11);
}

.controls_right {
  display: flex;
  flex-direction: column;
  height: 700px;
  justify-content: flex-end;
}

.controls_action_btns {
  margin-left: 15px;
  margin-bottom: 20px;
}
.controls_action_btns button {
  all: unset;
  cursor: pointer;
  background-color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  text-align: center;
  font-size: 20px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11);
}

.controls_action_btns button:hover {
  box-shadow: 1px 4px 6px rgba(50, 50, 93, 0.5);
}

.bottom {
  margin-top: 5px;
}

.bottom button {
  background-color: #0b0a4d !important;
}
